.headline-sec {
  height: 500px;
  background-image: url("../images/HeadlineImage_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.sub-main-header {
  color: white;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

.main-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 75px;
  color: rgb(203,26,46);
  z-index: 2;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 40px;
}

.header-gradient {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .25), rgba(255,255,255,1),
   rgba(255, 255, 255, 1), rgba(255,255,255,.25));
  z-index: 1;
}

.text-section {
  padding-right: 126px;
  padding-left: 126px;
}

.chocolate-images {
  background-image: linear-gradient(to right, rgba(195,155,124, 0), rgba(195,155,124,1),
   rgba(195,155,124, 1), rgba(195,155,124, 0));
   padding: 30px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

.parallax-sec {
  background-image: url("../images/ParallaxOne_5.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.shadowed-text,
.small-shadowed-text {
  text-shadow: 2px 2px gray;
}

.brown-bar-sec {
  background-color: #3d1c0f;
  height: 350px;
  position: relative;
  width: 85%;
}

.doctor-image {
  position: absolute;
  padding-left: 40px;
  left: 0;
}

.mobile-doctor-image {
  display: none;
}

.brown-red-sec p {
  line-height: 50px;
}

.red-sec {
  background-image: url("../images/Gears_15.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #A41F25;
}

.delivery-man {
  float: right;
}

.yellow-header {
  color: #FFCD2F;
}

.shipping-image-sec {
  background-color: #495E40;
  margin-top: 0;
}

.yellow-free {
  color: #F9D63F;
  font-size: 145px;
  line-height: 145px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.order-now {
  color: white;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 30px;
}

.shipping {
  color: white;
  font-size: 67px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 65px;
}

.last-sec {
  position: relative;
  background-color: white;
}

.transparent-sec {
  background-color: rgba(255, 255, 255, .7);
  background-size: 150%;
  overflow: hidden;
  margin: auto;
}

.check-list {
  text-align: left;
}
/* .last-sec {
  background-image: url("../images/TransparentArrowBkgd.jpg"), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  background-size: cover;
  background-blend-mode: overlay;
  position: bottom;
} */

button {
  background-color: #E47E25;
  border-color: white;
  border-width: 5px;
  position: center;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #2BB673;
  text-decoration: underline;
  font-family: 'Open Sans', sans-serif;
}

.hidden-bottle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .headline-sec {
    height: 300px;
    background-image: url("../images/HeadlineImage_1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .sub-main-header {
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  .main-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 45px;
    color: rgb(203,26,46);
    z-index: 2;
  }
  .text-section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
  }
  .container {
    margin: auto;
  }
  .arrow-img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin: auto;
    padding: none;
  }
  .text-section {
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
  }
  .bottom-text-section {
    padding-right: 5px;
    padding-left: 5px;
  }
  .arrow-img {
    width: auto;
    margin: auto;
  }
  .transparent-sec {
    background-color: rgba(255, 255, 255, .7);
    width: auto;
    background-size: 150%;
    overflow: hidden;
    margin: auto;
  }
  .shipping-image-sec {
    background-color: #495E40;
    width: auto;
    margin: auto;
    margin-top: 0;
  }
  .bottle-img {
    height: 200px;
    width: auto;
  }
  .headline-sec {
    height: 300px;
    background-image: url("../images/HeadlineImage_1.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .sub-main-header {
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
  }
  .main-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    line-height: 45px;
    color: rgb(203,26,46);
    z-index: 2;
  }
  .chocolate-images {
    margin: auto;
    padding: none;
  }
  .chocolate-label {
    font-size: 22px;
  }
  .shadowed-text {
    font-size: 28px;
    line-height: 31px;
  }
  .small-shadowed-text {
    font-size: 22px;
    line-height: 25px;
  }
  .arrow-img {
    display: none;
  }
  .top-bottle {
    display: none;
  }
  .hidden-bottle {
    display: inline-block;
  }
  .brown-bar-sec {
    background-color: #3d1c0f;
    height: 700px;
    width: 100%;
  }
  .doctor-image {
  display: none;
  }
  .empty-div {
    display: none;
  }
  .mobile-doctor-image {
    display: block;
    height: 250px;
  }
  .brown-bar-sec p {
    text-align: justify;
  }
}

#cart-button:focus {
  -webkit-animation-name: color-change; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
  animation-name: color-change;
  animation-duration: 2s;
  animation-delay: 0s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes color-change {
  0%   {background-color:white;}
  25%  {background-color:#E47E25;}
  50%  {background-color:white;}
  75%  {background-color:#E47E25;}
  100% {background-color:white;}
}

/* Standard syntax */
@keyframes color-change {
  0%   {background-color:white;}
  25%  {background-color:#E47E25;}
  50%  {background-color:white;}
  75%  {background-color:#E47E25;}
  100% {background-color:white;}
}