.headline-sec {
  height: 500px;
  background-image: url("../images/HeadlineImage_1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.sub-main-header {
  color: white;
  font-size: 40px;
}

.content-container {
  width: 1300px;
}

.main-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 75px;
  color: rgb(203,26,46);
  z-index: 2;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 40px;
}

.header-gradient {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .25), rgba(255,255,255,1),
   rgba(255, 255, 255, 1), rgba(255,255,255,.25));
  z-index: 1;
}

.text-section {
  margin-right: 126px;
  margin-left: 126px;
}

.chocolate-images {
  background-image: linear-gradient(to right, rgba(195,155,124, 0), rgba(195,155,124,1),
   rgba(195,155,124, 1), rgba(195,155,124, 0));
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

.parallax-sec {
  background-image: url("../images/ParallaxOne_5.jpg");
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.shadowed-text {
  text-shadow: 2px 2px gray;
}

.brown-bar-sec {
  background-color: #3d1c0f;
  height: 350px;
  position: relative;
  width: 85%;
}

.doctor-image {
  position: absolute;
  left: 50;
}

.brown-red-sec p {
  line-height: 50px;
}

.red-sec {
  background-image: url("../images/Gears_15.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 100%;
  background-color: #A41F25;
}

.delivery-man {
  float: right;
}

.yellow-header {
  color: #FFCD2F;
}

.shipping-image-sec {
  background-color: #495E40;
  margin-right: 96px;
  margin-left: 96px;
}

.yellow-free {
  color: #F9D63F;
  font-size: 130px;
  line-height: 135px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.order-now {
  color: white;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 30px;
}

.shipping {
  color: white;
  font-size: 60px;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 65px;
}

.last-sec {
  position: relative;
  background-color: white;
}

.bottom-text-section {
  width: 928px;
}

.background-image {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

button {
  background-color: #E47E25;
  border-color: white;
  border-width: 3px;
}

a {
  color: #2BB673;
  text-decoration: underline;
}
/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif; */


/* Headline Image:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/HeadlineImage_1.jpg

Header Font:
Open Sans Bold  on Google Font ( will not match the mock-ups typekit font but that’s ok) 

Deck Copy Font:
Open Sans Bold  on Google Font ( will not match the mock-ups typekit font but that’s ok) 

Body Font
Open Sans Bold  on Google Font

Brown Gradient banner:
Center: #c39b7c
Edges: 0 Transparency #c49a6c

Delicious Image:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/DeliciousImg_2.png

Gooey Image:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/GooeyImg_3.png

Chocolate Image:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/ChocolateImg_4.png

Parallax Image:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/ParallaxOne_5.jpg

Side Bar Brown Color:
#3d1c0f

Doctor and Lady:
https://d13p2xj50zkyqm.cloudfront.net/promos_/health/GLN/masterswitch_chocolateRL_ihtml_0317/DoctorAndLady_6.png

Gears Section Header Yellow: #FFCD2F

Gears Section Red: #A41F25

Gears:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/Gears_15.jpg

BerbinexGuarantee:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/BerbinexGuarantee_36.jpg

Dark Green:
#495E40

DeliveryMan:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/DeliveryMan_37.jpg

Order Now and Receive FREE Shipping:
font - Open Sans Condensed (On Google Font)
Yellow for FREE: #F9D63F


Hill Scenery Behind Transparent Arrow:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/TransparentArrowBkgd.jpg

Orange for Add To Cart Button: 
#E47E25

Green for View the Product label Button: 
#2BB673

Transparent Arrows:
https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/TransparentArrow1.png

https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/TransparentArrow2.png

https://d13p2xj50zkyqm.cloudfront.net/promos/health/GLN/masterswitch_chocolateRL_ihtml_0317/TransparentArrow3.png */
